<mat-drawer-container class="dashboard-container" autosize>
    <div class="dashboard-sidenav-contenido">
        <mat-toolbar style="background-color: black; height: 80px;">
            <button type="button" mat-icon-button style="color:rgb(255, 255, 255);" (click)="drawer.toggle()"
                aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
            </button>
           <span class="logo">Angular Institute</span>
            <span class="example-spacer" style="color:white;"></span>

        </mat-toolbar>
    </div>

    <mat-drawer #drawer class="dashboard-sidenav" mode="side">
        <div class="row">
            <p style="color:white; font-size: 20px; text-align: center;">Menu</p>
        </div>
        <div class="row" style="margin-top: 50px">
            <p style="color:white; font-size: 20px; text-align: center;">Alumnos</p>
        </div>
        <div class="row">
            <p style="color:white; font-size: 20px; text-align: center;">Materias</p>
        </div>
        <div class="row">
            <p style="color:white; font-size: 20px; text-align: center;">Cursos</p>
        </div>
    </mat-drawer>
    <div class="body-container" style="margin-left: 100px; margin-right: 100px; margin-top: 20px">
        <app-students></app-students>
    </div>
</mat-drawer-container>